.barRightConainer{
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--black);
    width: 7vw;
    height: 100%;
    color: var(--green);
    letter-spacing: .02em;
    @media (max-width: 769px){
        display: none;
    }
    .links{
        position: absolute;
        left:0;
        bottom: -3vw;
        width: 100vh;
        height: 3vw;
        padding-left: 1.5vw;
        padding-right: 1.5vw;

        -webkit-transform: rotate(-90deg); 
        -moz-transform: rotate(-90deg); 
        transform: rotate(-90deg);
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0; 
        transform-origin: 0 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .support{
        position: absolute;
        left: 3vw;
        height: 4vw;
        bottom: -4vw;
        padding-left: 1.5vw;
        width: 100vh;
        border-top: 1px solid var(--green);

        -webkit-transform: rotate(-90deg); 
        -moz-transform: rotate(-90deg); 
        transform: rotate(-90deg);
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0; 
        transform-origin: 0 0;

        font-size: .8rem;
        font-family: 'Pathos', sans-serif ;

        display: flex;
        align-items: center;
        
    }
}