.rightContainer{
    position: absolute;
    top: 0;
    left: 40vw;
    width: 50vw;
    background-color: var(--green);
    @media (max-width: 769px){
        top: calc(100vh + 5rem);
        left: 20vw;
        width: calc(100% + 1rem);
        &.active{
          top: 5.5rem;
        }
    }
    .sectionTitle{
      position: relative;
      width: 100%;
      border-bottom: 2px solid var(--black);
      font-size: 1.33rem;
      padding: 1.5rem;
      display: flex;
      align-items: center;
      font-size: 2.5rem;
      background-color: var(--green);
      @media (max-width: 769px){
        border-top: 2px solid var(--black);
      }
      .sectionTitleCircle{
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        height: 1.25rem;
        width: 1.25rem;
        border: 1px solid var(--black);
        border-radius: 1rem;
      }
      .sectionTitleCircle.black{
        background-color: var(--black);
      }
    }
    .sectionContent{
      width: calc(100% + 16px);
      height: calc(100vh - 5.5rem);
      overflow-y: scroll;
      @media (max-width: 769px){
        margin-top: 7.5rem;
     }
    }
}