.barCentralContainer {
    left: 37.5vw;
    position: absolute;
    width: 5.5vw;
    height: 100vh;
    border-left: 2px solid var(--black);
    border-right: 2px solid var(--black);
    background-color: var(--green);
    z-index: 50;

    .barCentralCircle {
        margin: 1.5rem auto;
        height: 1.25rem;
        width: 1.25rem;
        border: 1px solid var(--black);
        border-radius: 1rem;
        background-color: var(--black);
    }

    .barCentralText {
        position: absolute;
        bottom: -5.5vw;
        height: 5.5vw;
        left: 0rem;
        width: 100vh;
        padding-left: 1.5vw;

        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        transform-origin: 0 0;

        font-size: 1.25rem;
        text-transform: uppercase;

        display: flex;
        align-items: center;
    }
}
