*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}


@font-face {  
  font-family: 'Alpina';  
  font-weight: 400; 
  font-style: normal;  
  font-display: swap; /* Read next point */  
  unicode-range: U+000-5FF; /* Download only latin glyphs */  
  src: local('Alpina'),       
  url('/fonts/GT-Alpina-Fine-Condensed-Medium.woff') format('woff'),
  url('/fonts/GT-Alpina-Fine-Condensed-Medium.woff2') format('woff2');
}


@font-face {
font-family: 'Pathos';
src:
  url('/fonts/Pathos-Light.woff2') format('woff2');
font-weight: normal;
font-style: normal;
font-display: swap; 
}

:root{
  --black:#231F20;
  --green: #A4F7C6;
  --hover-background: rgba(150, 150, 150, .5);
  font-size: 1.2vw;
  @media (max-width: 769px){
    font-size: 2.8vw;
  }

  @media (max-width: 577px){
    font-size: 3.8vw;
  }
}

html, body{
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  opacity: hidden;
}

body{
  background-color: var(--green);
  font-family: 'Alpina', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

a{
  text-decoration: none;
  color: inherit;
}

.loading{
  padding: 1.5rem;
  font-size: 1.5rem;
}

.accordionButton{
  cursor: pointer;
  transition: opacity .2;
  &:hover{
    opacity: .6;
  }
}


.accordionContent.close{
  display: none;
}

.accordionContent.open{
  display: block;
}



