*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}


@font-face {  
  font-family: 'Alpina';  
  font-weight: 400; 
  font-style: normal;  
  font-display: swap; /* Read next point */  
  unicode-range: U+000-5FF; /* Download only latin glyphs */  
  src: local('Alpina'),       
  url('/fonts/GT-Alpina-Fine-Condensed-Medium.woff') format('woff'),
  url('/fonts/GT-Alpina-Fine-Condensed-Medium.woff2') format('woff2');
}


@font-face {
font-family: 'Pathos';
src:
  url('/fonts/Pathos-Light.woff2') format('woff2');
font-weight: normal;
font-style: normal;
font-display: swap; 
}

:root{
  --black:#231F20;
  --green: #A4F7C6;
  --hover-background: rgba(150, 150, 150, .5);
  font-size: 18px;
}

body{
  background-color: var(--green);
  font-family: 'Alpina', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

a{
  text-decoration: none;
  color: inherit;
}


.leftContainer{
  position: absolute;
  width: 31vw;
  height: 100vh;
  left: 6.5vw;
}

.rightContainer{
  position: absolute;
  left: 43vw;
  width: 50vw;
}

.sectionTitle{
  position: relative;
  width: 100%;
  height: 6.5vw;
  border-bottom: 2px solid var(--black);
  font-size: 1.33rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}

.sectionTitleCircle{
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  height: 1.25rem;
  width: 1.25rem;
  border: 1px solid var(--black);
  border-radius: 1rem;
}
.sectionTitleCircle.black{
  background-color: var(--black);
}

.sectionContent{
  width: calc(100% + 16px);
  height: calc(100vh - 6.5vw);
  overflow-y: scroll;
}

.accordionButton{
  cursor: pointer;
  transition: opacity .2;
  &:hover{
    opacity: .6;
  }
}


.accordionContent.close{
  display: none;
}

.accordionContent.open{
  display: block;
}



