.menuItem{
    font-size: 2.25rem;
    border-bottom: 1px dashed var(--black);
    a{
        padding: 1rem 1.5rem;
        display: flex;
    }
    .edicaoTitle{
        font-size: 2rem;
        margin-left: 1.5rem;
        margin-top: .15rem;
    }
    &:hover{
        background-color: var(--hover-background);
    }
}

.destaqueItem{
    padding: 1.5rem;
    display: block;
    border-bottom: 1px solid var(--black);
    &:last-of-type{
        border-bottom: none;
    }
    .destaqueDate{
        font-size: 1.25rem;
    }
    .destaqueTitle{
        margin-top: .5rem;
        font-size: 2rem
    }
    .destaqueImage{
        margin-top: 1rem;
        margin-bottom: -3rem;
        img{
            width: 40%;
            height: auto;
            margin-left: 30%;
        }
    }
    &:hover{
        background-color: var(--hover-background);
    }
}

.destaqueContent{
    padding: 1rem 1.5rem;
    .destaqueDate{
        font-size: 1.25rem;
    }
    .destaqueTitle{
        margin-top: .5rem;
        font-size: 2rem
    }
    .destaqueImage{
        margin-top: 1rem;
        margin-bottom: -3rem;
        img{
            width: 70%;
            height: auto;
        }
    }
}