.menuItem{
    font-size: 2.25rem;
    border-bottom: 1px dashed var(--black);
    padding: 1rem 1.5rem;
    display: flex;
    .edicaoTitle{
        font-size: 1.5rem;
        margin-left: 1.2rem;
        width: 75%;
        margin-top: .65rem;
        text-transform: uppercase;
        background-color: transparent;
    }
    &:hover{
        background-color: var(--hover-background);
    }
}

.destaqueItem{
    padding: 1.5rem;
    border-bottom: 1px solid var(--black);
    z-index: 0;
    display: block;
    .destaqueDate{
        font-size: 1.25rem;
    }
    .destaqueTitle{
        margin-top: .5rem;
        font-size: 2rem
    }
    .destaqueImage{
        margin-top: 1.5rem;
        img{
            width: 40%;
            height: auto;
            margin-left: 25%;
        }
    }
    &:hover{
        background-color: var(--hover-background);
    }
}



.destaqueContent{
    padding: 1.5rem;
    .destaqueDate{
        font-size: 1.25rem;
    }
    .destaqueTitle{
        margin-top: .5rem;
        font-size: 2rem
    }
    .destaqueImage{
        margin-top: 1.5rem;
        img{
            width: 60%;
            height: auto;
            margin-left: 20%;
        }
    }
    .destaqueText{
        font-family: 'Pathos';
        padding-top: 1.5rem;
        @media (max-width: 769px){     
            font-size: 1.15rem;
        }
    }
}