.menuItem{
    font-size: 2.25rem;
    border-bottom: 1px dashed var(--black);
    padding: 1rem 1.5rem;
    display: flex;
    .edicaoTitle{
        font-size: 1.5rem;
        margin-left: 1.2rem;
        width: 75%;
        margin-top: .65rem;
        text-transform: uppercase;
        background-color: transparent;
    }
    &:hover{
        background-color: var(--hover-background);
    }
}
