.input{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 1.5rem;
    height: 100%;
    width: 100%;
    background-color: transparent;
    font-family: 'Alpina', serif;
    font-size: 2.5rem;
    border: none;
    outline: none;
}