.leiturasItem{
    padding: 1.25rem 1.75rem;
    border-bottom: 1px dashed var(--black);
    font-size: 2.25rem;
    a{
        display: block;
    }
    .leiturasTitle{
        font-size: 2rem;
    }
    .leiturasSubtitle{
        font-size: 1.5rem;
    }
    &:hover{
        background-color: var(--hover-background);
    }
}