.quemFezItem{
    padding: 1.5rem 1.75rem;
    border-bottom: 1px dashed var(--black);
    .quemFezFuncao{
        font-size: 1.75rem;
        margin-bottom: .75rem;
    }
    .quemFezEquipa{
        font-family: 'Pathos', sans-serif;
        @media (max-width: 769px){     
            font-size: 1.15rem;
        }
    }
}