.quemFezItem{
    padding: 1.5rem;
    padding-right: 6rem;
    border-bottom: 1px dashed var(--black);
    .quemFezFuncao{
        font-size: 1.75rem;
        margin-bottom: .75rem;
    }
    .quemFezEquipa{
        font-family: 'Pathos', sans-serif;
    }
}