.leftContainer{
    position: absolute;
    top: 0;
    width: 31vw;
    left: 6.5vw;
    @media (max-width: 769px){
      left: 20vw;
      width: calc(100% + 1rem);
    }
    .sectionTitle{
      position: relative;
      width: 100%;
      border-bottom: 2px solid var(--black);
      display: flex;
      align-items: center;
      font-size: 3rem;
      padding: 0 1.75rem;
      height: 5.5rem;
      background-color: var(--green);
      .sectionTitleCircle{
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        height: 1.25rem;
        width: 1.25rem;
        border: 1px solid var(--black);
        border-radius: 1rem;
        &.active{
          background-color: var(--black);
        }
      }
      sup{
        margin-bottom: -.3rem;
        font-size: 1.5rem;
        margin-left: .3rem;
      }
    }
    .sectionContent{
      width: calc(100% + 16px);
      height: calc(100vh - 5.5rem);
      height: calc((var(--vh, 1vh) * 100) - 5.5rem);
      overflow-y: scroll;
      @media (max-width: 769px){
        height: calc(100vh - 1rem);
        height: calc((var(--vh, 1vh) * 100) - 1rem);
        width: 100%;
     }
    }
}

.rightContainer{
    position: absolute;
    top: 0;
    left: 42.5vw;
    width: 50.5vw;
    background-color: var(--green);
    @media (max-width: 769px){
        top: calc(100% + 5.5rem);
        left: 20vw;
        width: calc(100% + 1rem);
        transition: top .5s;
        &.activeColumn{
          top: 5.5rem;
        }
    }
    .sectionTitle{
      position: relative;
      width: 100%;
      border-bottom: 2px solid var(--black);
      font-size: 3rem;
      padding: 0 1.75rem;
      display: flex;
      align-items: center;
      background-color: var(--green);
      height: 5.5rem;
      @media (max-width: 769px){
        border-top: 2px solid var(--black);
      }
      .sectionTitleCircle{
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        height: 1.25rem;
        width: 1.25rem;
        border: 1px solid var(--black);
        border-radius: 1rem;
        &.active{
          background-color: var(--black);
        }
      }
    }
    .sectionContent{
      width: calc(100% + 16px);
      height: calc(100vh - 5.5rem);
      height: calc((var(--vh, 1vh) * 100) - 5.5rem);
      overflow-y: scroll;
      @media (max-width: 769px){     
        width: 100%;
      }
    }
}


.input{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 1.75rem;
  height: 100%;
  width: 100%;
  background-color: transparent;
  font-family: 'Alpina', serif;
  font-size: 2.5rem;
  border: none;
  outline: none;
}

